@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      @apply prose max-w-full prose-h2:m-0 font-poppins;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    @apply transition-colors;
  }

  a:hover {
    @apply text-red-700;
  }

  a.active {
    @apply text-red-600;
  }

  * {
    box-sizing: border-box;
  }
}
